/* SANS-SERIF */

@font-face {
font-family:'National Park';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark-reg.otf); }

@font-face {
font-family:'National Park Thin';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark-thin.otf); }

@font-face {
font-family:'National Park Heavy';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark-heavy.otf); }

@font-face {
font-family:'Roboto';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/roboto.ttf); }

@font-face {
font-family:'Roboto Light';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/robotolight.ttf); }

@font-face {
font-family:'NicoMoji';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nicomoji.ttf); }

/* PIXEL */

@font-face {
font-family:'Perfect DOS';
src:url('https://cdn.statically.io/gl/pilssken/assets/master/fonts/perfectdos.ttf'); }

@font-face {
font-family:'m5x7';
src:url(https://cdn.statically.io/gl/pilssken/assets/master/fonts/m5x7.ttf); }

@font-face {
font-family:'Fool';
src:url(https://cdn.statically.io/gl/pilssken/assets/master/fonts/fool.ttf); }

@font-face {
font-family:'Compass';
src:url(https://cdn.statically.io/gl/pilssken/assets/master/fonts/compass.ttf); }

@font-face {
font-family:'Belmont';
src:url(https://cdn.statically.io/gl/pilssken/assets/master/fonts/belmont.ttf); }

@font-face {
font-family:'Commodore 64';
src:url(https://cdn.statically.io/gl/pilssken/assets/master/fonts/comm64.ttf); }

@font-face {
font-family:'Arcade';
src:url(https://cdn.statically.io/gl/pilssken/assets/master/fonts/arcade.ttf); }