@font-face {
font-family:'ABeeZee';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/abeezee.ttf); }

@font-face {
font-family:'Anaheim';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/anaheim.ttf); }

@font-face {
font-family:'Anonymous Pro';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/anonymous-pro.ttf); }

@font-face {
font-family:'Bambi';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/bambi.ttf); }

@font-face {
font-family:'Big Noodle';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/bignoodle.ttf); }

@font-face {
font-family:'Blackletter';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/blackletter.ttf); }

@font-face {
font-family:'Cabin';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/cabin.otf); }

@font-face {
font-family:'Coda';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/coda.ttf); }

@font-face {
font-family:'Comic Neue';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/comicneue.ttf); }

@font-face {
font-family:'Cormorant';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/cormorant-reg.ttf); }

@font-face {
font-family:'Courier Prime';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/courier-prime.ttf); }

@font-face {
font-family:'D-Din';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/d-din.otf); }

@font-face {
font-family:'DreamHanSansJP1';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/DreamHanSansJP-W1.ttf); }
@font-face {
font-family:'DreamHanSansJP10';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/DreamHanSansJP-W10.ttf); }
@font-face {
font-family:'DreamHanSansJP20';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/DreamHanSansJP-W20.ttf); }
@font-face {
font-family:'DreamHanSansJP27';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/DreamHanSansJP-W27.ttf); }

@font-face {
font-family:'DreamHanSerifJP1';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/DreamHanSerifJP-W1.ttf); }
@font-face {
font-family:'DreamHanSerifJP10';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/DreamHanSerifJP-W10.ttf); }
@font-face {
font-family:'DreamHanSerifJP20';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/DreamHanSerifJP-W20.ttf); }
@font-face {
font-family:'DreamHanSerifJP27';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/DreamHanSerifJP-W27.ttf); }

@font-face {
font-family:'Hallowed Grounds';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/hallowed-grounds.otf); }

@font-face {
font-family:'Highway Gothic';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/hwygoth-reg.TTF); }
@font-face {
font-family:'Highway Gothic Narrow';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/hwygoth-narrow.TTF); }
@font-face {
font-family:'Highway Gothic Condensed';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/hwygoth-cnd.ttf); }
@font-face {
font-family:'Highway Gothic Wide';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/hwygoth-wide.ttf); }
@font-face {
font-family:'Highway Gothic Expanded';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/hwygoth-exp.TTF); }

@font-face {
font-family:'Illusion Z';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/illusionz-reg.ttf); }
@font-face {
font-family:'Illusion W';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/illusionw-reg.ttf); }
@font-face {
font-family:'Illusion N';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/illusionn-reg.ttf); }

@font-face {
font-family:'Kinto Sans';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/kinto-sans.ttf); }

@font-face {
font-family:'Kosugi Maru';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/kosugi-maru.ttf); }

@font-face {
font-family:'Kowai Mincho';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/kowai-mincho.ttf); }

@font-face {
font-family:'Lato';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/lato.ttf); }

@font-face {
font-family:'m5x7';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/m5x7.ttf); }

@font-face {
font-family:'Makinas';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/makinas.otf); }

@font-face {
font-family:'Mulish';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/mulish.ttf); }

@font-face {
font-family:'National Park';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark_reg.otf); }
@font-face {
font-family:'National Park Thin';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark_thin.otf); }
@font-face {
font-family:'National Park Heavy';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark_heavy.otf); }

@font-face {
font-family:'Neothic';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/neothic.ttf); }

@font-face {
font-family:'Open Dyslexic';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/opendyslexic-reg.otf); }

@font-face {
font-family:'Perfect DOS';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/perfect_dos.ttf); }

@font-face {
font-family:'Public Sans';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/publicsans-reg.otf); }

@font-face {
font-family:'Railroad Gothic';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/railroadgothic.otf); }

@font-face {
font-family:'Super Mario Maker';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/super-mario-maker.ttf); }

@font-face {
font-family:'Staatliches';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/staatliches.ttf); }

@font-face {
font-family:'Victor Mono';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/victor-mono.otf); }
@font-face {
font-family:'Victor Mono Italic';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/victor-mono-italic.otf); }

@font-face {
font-family:'Xanh Mono';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/xanh-mono.ttf); }

@font-face {
font-family:'Zen Antique';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/zen-antique.ttf); }

@font-face {
font-family:'Zen Maru Gothic';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/zen-marugothic.ttf); }

@font-face {
font-family:'Zen Old Gothic';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/zen-oldgothic.ttf); }
