/* sans-serif ============== */

@font-face {
font-family:'Anaheim';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/anaheim.ttf); }

@font-face {
font-family:'Audiowide';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/audiowide.ttf); }

@font-face {
font-family:'Big Noodle';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/bignoodle.ttf); }

@font-face {
font-family:'Cabin';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/cabin.otf); }

@font-face {
font-family:'Coda';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/coda.ttf); }

@font-face {
font-family:'Crimson';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/crimson.otf); }

@font-face {
font-family:'Forza Medium';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/forza-medium.ttf); }

@font-face {
font-family:'Forza Light';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/forza-light.ttf); }

@font-face {
font-family:'Forza Book';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/forza-book.ttf); }

@font-face {
font-family:'Forza Black';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/forza-black.ttf); }

@font-face {
font-family:'Jun501 Pro';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/jun501-pro.otf); }

@font-face {
font-family:'Kinto Sans';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/kinto-sans.ttf); }

@font-face {
font-family:'Kosugi Maru';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/kosugi-maru.ttf); }

@font-face {
font-family:'Lato';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/lato.ttf); }

@font-face {
font-family:'Mulish';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/mulish.ttf); }

@font-face {
font-family:'National Park';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark_reg.otf); }

@font-face {
font-family:'National Park Thin';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark_thin.otf); }

@font-face {
font-family:'National Park Heavy';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark_heavy.otf); }

@font-face {
font-family:'Staatliches';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/staatliches.ttf); }

/* serif ============== */

@font-face {
font-family:'Apple Garamond';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/apple-garamond.ttf); }

@font-face {
font-family:'Butler';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/butler.otf); }

@font-face {
font-family:'Caladea';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/caladea.ttf); }

@font-face {
font-family:'Hallowed Grounds';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/hallowed-grounds.otf); }

@font-face {
font-family:'IM Fell';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/im-fell-dw.ttf); }

@font-face {
font-family:'Neothic';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/neothic.ttf); }

@font-face {
font-family:'Romana';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/romana.otf); }

/* monospace & bitmap ============== */

@font-face {
font-family:'Anonymous Pro';
src: url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/anonymous-pro.ttf); }

@font-face {
font-family:'Belmont';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/belmont.ttf); }

@font-face {
font-family:'ChronoType';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/chronotype.ttf); }

@font-face {
font-family:'Compass Pro';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/compass_pro.ttf); }

@font-face {
font-family:'Connection';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/connection_regular.otf); }

@font-face {
font-family:'Curese';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/curese.ttf); }

@font-face {
font-family:'Expression';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/expression.ttf); }

@font-face {
font-family:'Fatal Fury';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/fatal-fury-b.TTF); }

@font-face {
font-family:'Fool';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/fool.ttf); }

@font-face {
font-family:'Kosugi Maru';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/kosugi-maru.ttf); }

@font-face {
font-family:'m5x7';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/m5x7.ttf); }

@font-face {
font-family:'Nintendo DS';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nintendo_ds.otf); }

@font-face {
font-family:'Osaka Unicode';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/osaka-unicode.ttf); }

@font-face {
font-family:'Perfect DOS';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/perfect_dos.ttf); }

@font-face {
font-family:'Pixel Mplus';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/pixel-mplus.ttf); }

@font-face {
font-family:'Pokemon';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/pokemon.otf); }

@font-face {
font-family:'Pokemon Mystery Dungeon';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/pmd.ttf); }

@font-face {
font-family:'Reactor7';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/reactor_7.otf); }

@font-face {
font-family:'Ricty';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/ricty.ttf); }

@font-face {
font-family:'Ryakuji';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/ryakuji.ttf); }

@font-face {
font-family:'Sarasa';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/sarasa.ttf); }

@font-face {
font-family:'VCR Mono';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/vcr_mono.ttf); }

@font-face {
font-family:'Yoster Island';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/yoster_island.ttf); }

/* handwriting & script */

@font-face {
font-family:'Comic Neue';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/comicneue.ttf); }

@font-face {
font-family:'Back Issues';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/basic_issues.ttf); }

@font-face {
font-family:'K Gothic';
src:url(https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/k-gothic.ttf); }
