/* SANS-SERIF */

@font-face {
font-family: 'Audiowide';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/audiowide.ttf'); }

@font-face {
font-family: 'Back Issues';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/back_issues.ttf'); }

@font-face {
font-family: 'Big Noodle';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/bignoodle.ttf'); }

@font-face {
font-family: 'Comic Neue';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/comicneue.ttf'); }

@font-face {
font-family: 'Marker Mark';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/marker_mark.otf'); }

@font-face {
font-family: 'National Park';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark_reg.otf'); }

@font-face {
font-family: 'National Park Heavy';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark_heavy.otf'); }

@font-face {
font-family: 'National Park Thin';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nationalpark_thin.otf'); }

@font-face {
font-family: 'Suplexmentary Comic';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/suplementary_comic.ttf'); }

@font-face {
font-family: 'Staatliches';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/staatliches.ttf'); }

/* SERIF */

@font-face {
font-family: 'Caladea';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/caladea.ttf'); }

/* MONOSPACE */

@font-face {
font-family: 'Anaheim';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/anaheim.ttf'); }

/* PIXEL */

@font-face {
font-family: 'Altima';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/altima.otf'); }

@font-face {
font-family: 'Arcology';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/arcology.otf'); }

@font-face {
font-family: 'Belmont';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/belmont.ttf'); }

@font-face {
font-family: 'ChronoType';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/chronotype.ttf'); }

@font-face {
font-family: 'Compass Pro';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/compass_pro.ttf'); }

@font-face {
font-family: 'Connection';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/connection_regular.otf'); }

@font-face {
font-family: 'Expression';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/expression.ttf'); }

@font-face {
font-family: 'Fool';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/fool.ttf'); }

@font-face {
font-family: 'm5x7';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/m5x7.ttf'); }

@font-face {
font-family: 'Magic Forest';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/magic_forest.ttf'); }

@font-face {
font-family: 'Monogram';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/monogram.ttf'); }

@font-face {
font-family: 'Nintendo DS';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/nintendo_ds.otf'); }

@font-face {
font-family: 'Perfect DOS';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/perfect_dos.ttf'); }

@font-face {
font-family: 'Reactor 7';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/reactor_7.otf'); }

@font-face {
font-family: 'RoadWC 98';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/roadwc_98.otf'); }

@font-face {
font-family: 'Runescape';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/runescape.ttf'); }

@font-face {
font-family: 'VCR Mono';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/vcr_mono.ttf'); }

@font-face {
font-family: 'Windows Command';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/windows_command.ttf'); }

@font-face {
font-family: 'Yoster Island';
src: url('https://cdn.jsdelivr.net/gh/pilssken/assets/fonts/yoster_island.ttf'); }
